BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
ColumnLimit: 100
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true